<div class="container mx-auto px-4 py-8 max-w-md">
    <div class="mb-8">
        <nav class="text-sm mb-4">
            <%= link_to @restaurant.trade_name, restaurant_path(@restaurant.id), class: "text-blue-600 hover:text-blue-800" %>
        </nav>
    </div>
   <h1 class="text-2xl font-bold text-gray-900 mb-2">Nova bebida</h1>

   <% if @beverage.errors.any? %>
       <div class="mb-6 p-4 bg-red-100 rounded-md">
           <% @beverage.errors.full_messages.each do |msg| %>
               <p class="text-red-700"><%= msg %></p>
           <% end %>
       </div>
   <% end %>

<%= render 'form', beverage: @beverage, restaurant: @restaurant, tags: @tags, url: restaurant_beverages_path(@restaurant)%>

</div>