<% if current_user == restaurant.owner %>
    <% dishes = menu.dishes %>
    <% beverages = menu.beverages %>
<% else %>
    <% dishes = menu.dishes.where(status: :active) %>
    <% beverages = menu.beverages.where(status: :active) %>
<% end %>

<div id="<%= dom_id(menu) %>-card" class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow">
    <div class="p-4">
        <div class="flex justify-between items-start mb-6">
            <h3 class="text-xl font-semibold text-gray-900"><%= link_to menu.name, restaurant_menu_path(restaurant, menu), id: "#{dom_id(menu)}-details"%></h3>
        </div>
        <div class="space-y-4">
            <div class="flex items-center justify-between mb-6">
                <% if dishes.empty? && beverages.empty? %>
                    <p>Não há itens cadastrados</p>
                <% else %>
                    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
                        <%= render partial: 'shared/dish', collection: dishes, as: :dish, locals: { restaurant: restaurant } %>
                        <%= render partial: 'shared/beverage', collection: beverages, as: :beverage, locals: { restaurant: restaurant } %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
