<h2><%=link_to @restaurant.trade_name, restaurant_path(@restaurant.id)%></h2>
<h1>Editar prato:</h1>

<% if @dish.errors.any? %>
    <%@dish.errors.full_messages.each do |msg| %>
        <p><%=msg%></p>
    <% end %>
<% end %>

<div id="edit_<%=dom_id @dish%>">
    <%= render 'form', restaurant: @restaurant, dish: @dish, tags: @tags, url: restaurant_dish_path(@restaurant, @dish)%>
</div>
